<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <div class="jumbotron">
        <h1 class="display-4">About Us!</h1>
        <p class="lead">We are web developers who copy magnificent websites like Reddit in order to improve our server side code skills.</p>
        <hr class="my-4">
        <p>We use many awesome tools in this application such as node, express, sequelize, postgres, and many more.</p>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>